body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(135, 94, 230);
}

h1 {
	text-decoration: overline underline;
	font-size: 15rem;
	font-family: Montserrat;
}

.letter {
	transition: color 2000ms;
}
